<!-- <h1>New order</h1>
<%= render 'form' %>
<%= link_to 'Back', orders_path %> -->
<div class= "depot_form">
	<fieldset>
		<legend> Please, Enter Yor Details </legend>
		<%= render 'form'%>
	</fieldset>
</div>
